@font-face {
    font-family: 'DungGeunMo';
    src: url('./DungGeunMo.eot'); /* IE9 Compat Modes */
    src: url('./DungGeunMo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./DungGeunMo.woff2') format('woff2'), /* Super Modern Browsers */
         url('./DungGeunMo.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
  }
  