@import './_utils.scss';
@import './index.scss';


// 코멘트 폼 스타일
.commentForm {
    margin-bottom: 40px;

    &__textarea {
        color: $fontColor;
        background-color: $darkBule;
        width: 100%;
        padding: 10px;
    }
    &__flexReverse {
        display: flex;
        flex-direction: row-reverse;
    }
    &__inputBtn {
        font-size: $font2;
        color: $fontColor;
        background-color: $bgColor;
        padding: 10px 0;
        cursor: pointer;

        &:hover {
            color: $fontColor-hover;
        }
    }
}

// 코멘트아이템 스타일
.commentItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &__flex {
        display: flex;
        gap: 20px;

        @include mobile {
            gap: 10px;
        }
    }
    &__userImg {
        @extend .user-img
    }
    &__header {
        display: flex;
        gap: 10px;
        font-size: $font1;
        margin-bottom: 10px;

        @include mobile {
            flex-direction: column;
        }
    }
    &__name {
        font-weight: 600;
    }
    &__createdAt {
        color: $fontColorSub;
    }
    &__content {

    }
    &__delete {
        @extend .delete;
    }
}

