@import './_utils.scss';

.navbar {
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // left: 0;
    max-width: inherit;
    max-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    background-color: $bgColor;
    z-index: 10;
    @extend .shadow;
    border-bottom: none;

    @include mobile {
        padding: 15px;
        gap: 15px;
    }
    
    &__flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__menu {
        cursor: pointer;
        &:hover {
            color: $fontColor-hover;
        }
    }
    &__terminal {
        color: $fontColor;
        background-color: $darkBule;
        flex-grow: 1;
        padding: 15px;
    }
    label {
        @include mobile {
            display: none;
        }
    }
}