@import './utils';

body {
  margin: 0;
  font-family: $defaultFont;
  background-color: $bgColor;
  color: $fontColor;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
