
@import './utils';


body {
  margin: 0;
  font-size: $font2;

  @include mobile {
    font-size: $font1;
  }
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
textarea {
    font-family: $defaultFont;
    font-size: $font1;
    border: none;
    resize: none;
    outline: none;
    box-sizing: border-box;
}
input {
    font-family: $defaultFont;
    font-size: $font1;
    outline: none;
    border: none;
    box-sizing: border-box;
}

// common
.delete {
    color: $fontWarning;
        cursor: pointer;
        &:hover {
            color: $fontWarning-hover;
        }
}
.hashTag {
    color: #4e80e3;
    font-weight: 600;
    padding: 10px;
}
.user-img {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $fontColor;

    @include mobile {
        min-width: 40px;
        height: 40px;
    }
}


// page
.page {
    padding-bottom: 80px;

    @include mobile {
        padding-bottom: 140px;
    }

    &__flex {
        display: flex;
        gap: 20px;
    }
    &__title {
        font-size: $font5;
        font-weight: 800;
        margin-bottom: 40px;

        @include mobile {
            font-size: $font4;
            margin-bottom: 40px; 
        }
    }
    &__notification {

        &:hover {
            color: $fontColor-hover;
        }
    }
}

// form
.form {
    &__block {
        margin-bottom: 20px;
    }
    &__flex {
        display: flex;
        gap: 10px;
    }
    &__input {
        color: $fontColor;
        background-color: $darkBule;
        width: 100%;
        padding: 15px;
    }
    &__textarea {
        color: $fontColor;
        background-color: $darkBule;
        width: 100%;
        min-height: 360px;
        padding: 10px;

        @include mobile {
            min-height: 280px;
        }
    }
    &__hashTag-area {
        padding: 10px 0;
        background-color: $darkBule;
    }
    &__hashTag {
        @extend .hashTag;
        &:hover {
            color: $fontWarning-hover;
        }
    }
    &__submit {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
    }
    &__input-btn {
        font-size: $font2;
        color: $fontColor;
        background-color: $bgColor;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: $fontColor-hover;
        }
    }
    &__link {
        color: $fontColorSub;
        font-size: $font1;
        &:hover {
            color: $fontColorSub-hover;
        }
    }
    &__error {
        color: $fontWarning;
    }
}


// profile
.profile {

    &__flex {
        display: flex;
        gap: 20px;
    }
    &__flex-between {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mobile {
            gap: 20px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__user-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $fontColor;

        @include tablet {
            width: 120px;
            height: 120px;
        }

        @include mobile {
            width: 100px;
            height: 100px;
        }

    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        align-items: center;
        font-size: $font2;
        cursor: pointer;

        @include mobile {
            font-size: $font1;
        }
    }
    &__info-no {
        color: $fontColorSub;
    }
    &__user {
        margin-bottom: 40px;
    }
    &__name {
        font-size: $font2;
    }
    &__email {
        color: $fontColorSub;
    }
    &__utils {
        display: flex;
        gap: 10px;
    }
    &__noti {

        &:hover {
            color: $fontColor-hover;
        }
    }
    &__edit {
        text-decoration:underline;

        &:hover {
            color: $fontColor-hover;
        }
    }
    &__tabs {
        font-size: $font2;
        border-top: $defaultBorder;
        margin: 20px 0;
    }
    &__tab {
        padding: 20px 0;
        color: $fontColorSub;
        cursor: pointer;
        &:hover {
            color: $fontColorSub-hover;
        }
    }
    &__tab--active {
        color: $fontColor;
        &:hover {
            color: $fontColor-hover;
        }
    }
}
