@import './utils';

body {
  margin: 0;
  font-family: $defaultFont;
  background-color: $bgColor;
  color: $fontColor;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
textarea {
    font-family: $defaultFont;
    font-size: $font1;
    border: none;
    resize: none;
    outline: none;
}
input {
    font-family: $defaultFont;
    font-size: $font1;
    outline: none;
    border: none;
}

// page
.page {
    padding-bottom: 80px;

    &__header {
        text-align: center;
        padding: 20px;
        margin-bottom: 40px;
        @extend .shadow;

        h1 {
            font-size: $font4;
        }
    }
    &__title {
        font-size: $font3;
        margin-bottom: 40px;
    }
}
