@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font/font.css';


/* @layer를 사용하여 purge 최적화에 포함시킴 */

@layer base {
    body {
        @apply bg-bgColor text-white font-default h-screen text-xs sm:text-base md:text-lg lg:text-xl;
    }
    input {
        @apply font-default;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
    textarea {
        @apply font-default;
        outline: none;
        border: none;
        box-sizing: border-box;
        resize: none;
    }
    h1 {
        margin: 0;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

@layer components {
    /* 페이지 헤더 */
    .page-header {
        @apply font-bold border-b-2 text-xl mb-6 pb-2 md:text-center lg:text-center lg:mb-12 lg:text-5xl lg:pb-10 lg:pt-5;
    }
    .page-container {
        @apply flex flex-col h-full;
    }
    .shadow-border {
        border-top: 3px solid rgba(0, 0, 255, 1);
        border-bottom: 5px solid #000000;
        border-right: 5px solid #000000;
        border-left: 3px solid rgba(0, 0, 255, 1);
    }

    /* input  */
    .text-input {
        @apply text-white bg-darkBlue p-4;
    } 
    .textarea {
        @apply text-white bg-darkBlue p-4;
    }
    .lg-text {
        @apply text-base sm:text-xl md:text-2xl;
    }
    .xl-text {
        @apply text-3xl md:text-4xl lg:text-5xl;
    }

    /* 버튼 */
    .text-btn {
        @apply cursor-pointer text-white hover:text-whiteHover;
    }
    .delete-btn {
        @apply cursor-pointer text-warning hover:text-warningHover;
    }
    .submit-btn {
        @apply cursor-pointer text-white hover:text-whiteHover font-bold text-base md:text-xl lg:text-2xl;
    }


    /* 유저 프로필 이미지 */
    .user-img {
        @apply min-w-[30px] h-[30px] rounded-full bg-white md:min-w-[50px] md:h-[50px];
    }
    .profile-img {
        @apply min-w-[100px] h-[100px] rounded-full bg-white sm:min-w-[160px] sm:h-[160px] lg:min-w-[200px] lg:h-[200px];
    }

    /* 해쉬태그 */
    .hash-tag {
        @apply text-blue-500 font-semibold pr-3;
    }
}



